body{
    background-image: url("C:\Users\USUARIO\Desktop\TAREA 1 PARCIAL 2\Imagen.jpg");
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
div{
    padding: 10px;
    display: inline;
}
button{
    border-radius: 5px;
    height: 50px;
    width: 100px;
    cursor: pointer;
}
table {
    width: 100%;
    border: 1px solid #999;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
 }
 caption, td, th {
    padding: 0.3em;
 }
 th, td {
    border-bottom: 1px solid #999;
    width: 25%;
 }
 caption {
    font-weight: bold;
    font-style: italic;
 }
